.cart-no{
    position: absolute;
    top:-15px;
    right: 35px;
    min-width: 25px;
    min-height: 25px;
    background: #534da2;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
a{
    text-decoration: none;
    color:#555151f7
}
a.active{
    color:rgb(255, 124, 1)
}
.logo{
    cursor: pointer;
}